<h1 class='text-center'>All Alpha Bloggers</h1>
<div class='text-center'>
 <%== pagy_bootstrap_nav(@pagy).html_safe %>
  <% @users.each do |user| %>
  <ul class='listing'>
    <div class='row'>
      <div class='card col-md-4 offset-4'>
        <li><%= link_to gravatar_for(user), user_path(user) %>
        <li class='article-title'>
          <%= link_to  user.username, user_path(user) %>
        </li>
        <li><small><%= pluralize(user.articles.count, 'article') if user.articles %></small></li>
      </div>
    </div>
  </ul>
<%end%>
</div>
<div class='text-center'>
  <%== pagy_bootstrap_nav(@pagy).html_safe %>
<div>